:root {
  --dp-white: #ffffff;
  --dp-white-soft: #f8f8f8;
  --dp-white-mute: #f2f2f2;

  --dp-black: #181818;
  --dp-black-soft: #222222;
  --dp-black-mute: #282828;

  --dp-indigo: #2c3e50;
  --dp-indigo-light: #374e64;
  --dp-indigo-hover: rgba(55, 78, 100, 0.2);

  --dp-text-placeholder: rgba(84, 84, 84, 0.65);

  --dp-box-shadow: rgba(84, 84, 84, 0.48);

  --dp-success: #41b883;
  --dp-error: #c20101;
  --dp-day-weekend: #ed0b0b;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: inherit;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--dp-black);
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
